:root {
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  --main-bg-very-dark-blue: hsl(217, 54%, 11%);
  --card-bg-very-dark-blue: hsl(216, 50%, 16%);
  --line-very-dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--main-bg-very-dark-blue);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Outfit", sans-serif;
}
p {
  font-size: 18px;
}

.card {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  padding: 30px;
}

.card-img-wrapper {
  position: relative;
}

.card-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-cyan);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-img-wrapper:hover .overlay {
  opacity: 0.7;
  cursor: pointer;
}

.view-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

h2 {
  font-weight: 600;
  color: white;
}

.card-img-wrapper:hover .view-icon {
  opacity: 1;
}

.container {
  text-align: left;
  background-color: #1f2833;
  border-radius: 5px;
}

.des-left {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: #61dafb;
  border-bottom: 1px solid hsl(215, 51%, 70%);
}

#des {
  color: var(--primary-cyan);
}

#left {
  font-weight: 300;
  color: var(--primary-soft-blue);
}

.avatar {
  display: flex;
  gap: 10px;
  margin: 10px;
  font-weight: 300;
}

.avatar span {
  color: white;
}

.avatar span:hover {
  color: var(--primary-cyan);
  cursor: pointer;
}

.avatar-img {
  max-width: 50px;
  height: auto;
  border: 1px solid white;
  border-radius: 50%;
}
